mat-sidenav-container[fullscreen] {
  height: 100vh;
}

.sidenav-container {
  width: 250px;
  margin-top: 65px;
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  border: none;
  text-decoration: none;
}

.spacer {
  flex: 1;
}

img {
  width: 1.8rem;
}

.logo-nav {
  font-family: "Caveat";
  margin-left: 1%;
}

.dropdown-center {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 10rem;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.container {
  margin-top: 64px;
  padding: 16px;
}
.notification {
  background-color: #333;
  color: #ffdb58;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn-custom {
  background-color: #800020;
  border-color: #800020;
  color: #ffffff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-custom:hover {
  background-color: #ffdb58;
  border-color: #ffdb58;
  color: black;
  font-weight: bold;
}
.btn-custom mat-icon {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .sidenav-container {
    margin-top: 70px;
  }

  .container {
    margin-top: 60px;
  }

  .logo-nav {
    display: none;
  }

  .notification {
    display: none;
  }

  .toolbar-container {
    justify-content: end;
  }
}

@media (max-width: 600px) {
  .sidenav-container {
    margin-top: 70px;
  }

  .container {
    margin-top: 60px;
  }

  .logo-nav {
    display: none;
  }

  .notification {
    display: none;
  }

  .toolbar-container {
    justify-content: end;
  }
}
