<mat-sidenav-container fullscreen>
  <!-- Sidebar -->
  <mat-sidenav
    #sidenav
    mode="side"
    class="sidenav-container"
    [ngStyle]="{ width: '250px' }"
  >
    <mat-nav-list>
      <mat-list-item *ngFor="let item of sidebarItems" disableRipple>
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <a [routerLink]="item.route">{{ item.label }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar color="basic" class="toolbar-container">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo-nav">
        <img src="../../../../assets/logo/tredex_icon-ok.png" alt="Logo" />
      </div>

      <span class="spacer"></span>

      <div class="dropdown-center">
        <button
          class="notification"
          matBadge="7"
          [matBadgeHidden]="hidden"
          matBadgeColor="warn"
          (click)="toggleBadgeVisibility()"
        >
          <mat-icon>notifications</mat-icon>
        </button>

        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="../../../../assets/img-panel/perfil.png" alt="Perfil" />
          Demo
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><a class="dropdown-item" href="#">Tu tienda</a></li>
          <li><a class="dropdown-item" href="#">Tredex</a></li>
          <li><a class="dropdown-item" href="#">Documentacion</a></li>
          <li><a class="dropdown-item" href="#">Soporte</a></li>
        </ul>

        <button type="button" class="btn btn-custom" routerLink="/home">
          Cerrar Sesion
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="content-area p-2">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
