<!-- third-component.component.html -->
<div class="content-container-body mb-4 p-5">
  <div class="row justify-content-center">
    <div class="col-md-2 mb-2">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h2 class="card-title">Bussiness Elite</h2>
            <p class="card-text">
              Para optimizar y llevar tu negocio al siguiente nivel
            </p>
            <h1>149€</h1>
          </div>

          <div class="text-start">
            <p>15 colaboradores</p>
            <p>Espacio limitado</p>
            <p>Paquete de marketing avanzado</p>
            <p>Analiticas avanzadas del sitio</p>
            <p>Aceptar pagos</p>
            <p>eCommerce avanzado</p>
            <p>Plataforma avanzada</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 mb-2">
      <div class="card">
        <span class="badge text-bg-success">Recomendado</span>
        <div class="card-body">
          <div class="text-center">
            <h2 class="card-title">Bussiness</h2>
            <p class="card-text">Para expandir y hacer crecer tu marca</p>
            <h1>34€</h1>
          </div>

          <div class="text-start">
            <p>10 colaboradores</p>
            <p>100 GB de espacio de almacenamiento</p>
            <p>Paquete de marketing estándar</p>
            <p>Dominio gratis por 1 año</p>
            <p>Analíticas estándar del sitio</p>
            <p>Aceptar pagos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 mb-2">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h2 class="card-title">Core</h2>
            <p class="card-text">Para interactuar con tu audiencia</p>
            <h1>22€</h1>
          </div>

          <div class="text-start">
            <p>5 colaboradores</p>
            <p>50 GB de espacio de almacenamiento</p>
            <p>Paquete de marketing esencial</p>
            <p>Dominio gratis por 1 año</p>
            <p>Analíticas esenciales del sitio</p>
            <p>Aceptar pagos</p>
            <p>eCommerce esencial</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
