<footer>
  <div class="container">
    <div class="row">
      <!-- About Section -->
      <div class="col-md-4 footer-section">
        <div class="footer-logo">
          <img src="../../../../assets/logo/file.png" alt="logo" />
        </div>
        <h5>Sobre Tredex</h5>
        <p>
          Este proyecto es parte de mi portafolio como desarrollador junior
          frontend. Se trata de una práctica de desarrollo en Angular, centrada
          en la creación de un ERP. Mi objetivo es seguir aprendiendo y
          perfeccionando mis habilidades en el desarrollo web. ¡Agradezco
          cualquier feedback!
        </p>
      </div>
      <!-- Useful Links -->
      <div class="col-md-2 footer-section">
        <h5>Soporte</h5>
        <ul class="list-unstyled">
          <li><a href="#">Centro de ayuda</a></li>
          <li><a href="#">Marketplace</a></li>
          <li><a href="#">Reportar abuso</a></li>
          <li><a href="#">Paginas de status</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-section">
        <h5>Empresa</h5>
        <ul class="list-unstyled">
          <li><a href="#">Sala de prensa</a></li>
          <li><a href="#">Relaciones con inversiones</a></li>
          <li><a href="#">Tredex capital</a></li>
          <li><a href="#">Mapa del sitio</a></li>
          <li><a href="#">Aviso sobre patentes</a></li>
          <li><a href="#">Trabaja en Tredex</a></li>
        </ul>
      </div>
      <!-- Newsletter Section -->
      <div class="col-md-4 footer-section">
        <h5>Suscríbete a Nuestras Noticias</h5>
        <form>
          <input
            type="email"
            class="form-control newsletter-input"
            placeholder="Correo Electronico"
          />
          <button type="submit" class="btn newsletter-btn">Suscribirse</button>
        </form>
      </div>
    </div>

    <!-- Social Media Icons -->
    <div class="row">
      <div class="col text-center">
        <div class="social-icons">
          <a href="#"><i class="ti ti-brand-linkedin"></i></a>
          <a href="#"><i class="ti ti-brand-github"></i></a>
          <a href="#"><i class="ti ti-brand-google"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
