<!-- third-component.component.html -->
<div class="content-container-body mb-4 p-4">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h2 class="card-title">Bussiness Elite</h2>
            <p class="card-text">
              Para optimizar y llevar tu negocio al siguiente nivel
            </p>
            <h1>149$</h1>
          </div>

          <div class="text-start">
            <p>15 colaboradores</p>
            <p>Espacio limitado</p>
            <p>Paquete de marketing avanzado</p>
            <p>Analiticas avanzadas del sitio</p>
            <p>Aceptar pagos</p>
            <p>eCommerce avanzado</p>
            <p>Plataforma avanzada para desarrolladores</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h2 class="card-title">Bussiness Elite</h2>
            <p class="card-text">
              Para optimizar y llevar tu negocio al siguiente nivel
            </p>
            <h1>149$</h1>
          </div>

          <div class="text-start">
            <p>15 colaboradores</p>
            <p>Espacio limitado</p>
            <p>Paquete de marketing avanzado</p>
            <p>Analiticas avanzadas del sitio</p>
            <p>Aceptar pagos</p>
            <p>eCommerce avanzado</p>
            <p>Plataforma avanzada para desarrolladores</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h2 class="card-title">Bussiness Elite</h2>
            <p class="card-text">
              Para optimizar y llevar tu negocio al siguiente nivel
            </p>
            <h1>149$</h1>
          </div>

          <div class="text-start">
            <p>15 colaboradores</p>
            <p>Espacio limitado</p>
            <p>Paquete de marketing avanzado</p>
            <p>Analiticas avanzadas del sitio</p>
            <p>Aceptar pagos</p>
            <p>eCommerce avanzado</p>
            <p>Plataforma avanzada para desarrolladores</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
