<section class="publicity">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 mt-5 p-5">
        <h1>La libertad de crear la página web que quieras</h1>
      </div>
      <div class="col-md-6 text-end mt-5 p-5">
        <p>
          Diseña y crea tu propia página web con calidad profesional. Ya sea que
          estés promocionando tu negocio, mostrando tu trabajo, abriendo tu
          tienda online o comenzando un blog, puedes hacerlo todo con el creador
          de páginas web de Wix.
        </p>
        <div class="col-md-1">
          <a href="/panel">Empezar</a>
        </div>
      </div>
    </div>
  </div>
</section>
