.publicity {
  left: 0;
  width: 100%;
  height: 50%;
  background: #dac4fb;
  font-family: "raleway";
}

.publicity h1 {
  font-size: 3rem;
  font-weight: 500;
}
.publicity p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  width: 75%;
}

.publicity a {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none, underline;
  color: black;
}
