<div class="tool-bar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tredex</a>
      <div class="collapse navbar-collapse px-5" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Empezar
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Tienda Online</a></li>
              <li>
                <a class="dropdown-item" href="#">Plantillas eCommerce</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav px-1">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Vender
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Vender Tredex</a></li>
              <li>
                <a class="dropdown-item" href="#">Impresion bajo demanda</a>
              </li>
              <li><a class="dropdown-item" href="#">Canales de venta</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav px-1">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Gestionar
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Gestionar Tiendas</a></li>
              <li><a class="dropdown-item" href="#">Funciones</a></li>
              <li>
                <a class="dropdown-item" href="#">Marketing de eCommerce</a>
              </li>
              <li><a class="dropdown-item" href="#">Tredex Payments</a></li>
              <li>
                <a class="dropdown-item" href="#"
                  >Automatizacion de impuestos</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav px-1">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Aprender
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Aprender</a></li>
              <li><a class="dropdown-item" href="#">Centro de Ayuda</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-dark" routerLink="/panel">
        Panel de control
      </button>
    </div>
  </nav>
</div>
