<section>
  <div class="text">
    <div class="tittle">
      <h1>Crea tu página web profesional</h1>
    </div>
    <div class="second-tittle">
      <p>¿Qué tipo de sitio web te gustaría crear?</p>
    </div>
  </div>

  <div class="container text-center mt-5">
    <div class="d-flex flex-wrap justify-content-center">
      <button class="btn icon-button">
        <i class="ti ti-building-store"></i> Tienda online
      </button>
      <button class="btn icon-button"><i class="ti ti-pencil"></i> Blog</button>
      <button class="btn icon-button">
        <i class="ti ti-calendar-month"></i> Servicios
      </button>
      <button class="btn icon-button">
        <i class="ti ti-app-window"></i> Portafolio
      </button>
    </div>
  </div>

  <div class="container text-center mt-5">
    <div class="d-flex flex-wrap justify-content-center">
      <button class="btn icon-button">
        <i class="ti ti-ticket"></i> Evento
      </button>
      <button class="btn icon-button">
        <i class="ti ti-briefcase"></i> Consultor(a)
      </button>
      <button class="btn icon-button">
        <i class="ti ti-tools-kitchen-2"></i> Restaurante
      </button>
      <button class="btn icon-button">
        <i class="ti ti-dots-circle-horizontal"></i> Otros
      </button>
    </div>
  </div>
  <div class="container button-start text-center mt-5">
    <button class="btn icon-button">Empezar</button>
  </div>
  <div class="image-start">
    <img src="../../../../assets/img/img3-header-removebg-preview.png" alt="" />
  </div>
</section>
