<section>
  <div class="text">
    <div class="tittle">
      <h1>Crea tu página web profesional</h1>
    </div>
    <div class="second-tittle">
      <p>¿Qué tipo de sitio web te gustaría crear?</p>
    </div>
  </div>

  <div class="container text-center mt-5">
    <div class="d-flex flex-wrap justify-content-center">
      <button class="btn icon-button">
        <img src="/assets/icons/tienda.png" alt="" /> Tienda
      </button>
      <button class="btn icon-button">
        <img src="../../../../assets/icons/lapiz.png" alt="" />Blog
      </button>
      <button class="btn icon-button">
        <img src="../../../../assets/icons/legal-services.png" alt="" />
        Servicios
      </button>
      <button class="btn icon-button">
        <img src="../../../../assets/icons/blog.png" alt="" /> Portafolio
      </button>
    </div>
  </div>

  <div class="container text-center mt-5">
    <div class="d-flex flex-wrap justify-content-center">
      <button class="btn icon-button">
        <img src="../../../../assets/icons/boleto.png" alt="" />Evento
      </button>
      <button class="btn icon-button">
        <img src="../../../../assets/icons/consultor.png" alt="" />Consultor(a)
      </button>
      <button class="btn icon-button">
        <img src="../../../../assets/icons/food-and-restaurant.png" alt="" />
        Restaurante
      </button>
      <button class="btn icon-button">
        <img src="../../../../assets/icons/otros.png" alt="" /> Otros
      </button>
    </div>
  </div>
  <div class="container button-start text-center mt-5">
    <button class="btn icon-button" routerLink="/panel">Empezar</button>
  </div>
  <div class="image-start">
    <img src="../../../../assets/img/img3-header-removebg-preview.png" alt="" />
  </div>
</section>
