<section class="reforce">
  <div class="container pt-5 text-center">
    <h1 class="#">Plantillas web diseñadas para lanzarte al éxito</h1>
    <div class="col-md-6 position-relative px-2 p-2 mx-auto">
      <p class="text-reforce">
        Comienza con ventaja con más de 900 plantillas web gratuitas y
        personalizables, diseñadas estratégicamente para cada sector, o empieza
        desde cero con nuestro creador de sitios web.
      </p>
    </div>
    <div class="button-reforce container button-start text-center">
      <button>Ver todas la plantillas para páginas web</button>
    </div>
  </div>
  <div class="product-reforce pt-5">
    <img
      src="../../../../assets/img/product1.jpeg"
      class="rounded mx-2 float-between img-fluid w-25"
      alt="..."
    />
    <img
      src="../../../../assets/img/product2.jpeg"
      class="rounded mx-2 float-end img-fluid w-25"
      alt="..."
    />
  </div>
</section>
