<div class="content-container-body">
  <div class="row justify-content-center mt-3">
    <div class="col-md-3 mb-2">
      <div class="card text-center">
        <div class="card-header">
          <p>Total de pedidos</p>
          <p>0%</p>
        </div>
        <div class="card-body">
          <img
            src="/assets/img-panel/carro-de-la-compra.png"
            alt=""
            class="img-card"
          />
          <h1>118</h1>
        </div>
        <div class="card-footer">Ver más...</div>
      </div>
    </div>

    <div class="col-md-3 mb-2">
      <div class="card text-center">
        <div class="card-header">
          <p>Total de ventas</p>
          <p>93%</p>
        </div>
        <div class="card-body">
          <img
            src="/assets/img-panel/tarjeta-de-credito.png"
            alt=""
            class="img-card"
          />
          <h1>286K</h1>
        </div>
        <div class="card-footer">Ver más...</div>
      </div>
    </div>

    <div class="col-md-3 mb-2">
      <div class="card text-center">
        <div class="card-header">
          <p>Total de clientes</p>
          <p>71%</p>
        </div>
        <div class="card-body">
          <img
            src="/assets/img-panel/compromiso-del-usuario.png"
            alt=""
            class="img-card"
          />
          <h1>2.4K</h1>
        </div>
        <div class="card-footer">Ver más...</div>
      </div>
    </div>

    <div class="col-md-3 mb-2">
      <div class="card text-center">
        <div class="card-header">
          <p>Online</p>
        </div>
        <div class="card-body">
          <img
            src="/assets/img-panel/comunidad-online.png"
            alt=""
            class="img-card"
          />
          <h1>1</h1>
        </div>
        <div class="card-footer">Ver más...</div>
      </div>
    </div>
  </div>
</div>
